<!-- loan_calculator/templates/loan_calculator/loan_application.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Application</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<h2>Loan Application</h2>
<form method="post" action="{% url 'loan_calculator:apply_loan' %}">


    <!-- Additional Fields for Loan Application -->
    <label for="{{ form.name.id_for_label }}">Name:</label>
    {{ form.name }}
    <br>
    <label for="{{ form.address.id_for_label }}">Address:</label>
    {{ form.address }}
    <br>
    <label for="{{ form.phone_number.id_for_label }}">Phone Number:</label>
    {{ form.phone_number }}
    <label for="{{ form.pan_number.id_for_label }}">PAN Number:</label>
    {{ form.pan_number }}
    <label for="{{ form.aadhar_number.id_for_label }}">Aadhar Number:</label>
    {{ form.phone_number }}
    <label for="{{ form.email.id_for_label }}">Email ID:</label>
    {{ form.email }}
<p>Principle: {{ loan.principle }}</p>
<p>Tenure (in years): {{ loan.tenure }}</p>
<p>Interest: {{ loan.interest }}</p>
<p>Loan Type: {{ loan.loan_type }}</p>
<p>Monthly Repayment: {{ loan.monthly_repayment }}</p>
    
    <br>

    <button type="submit">Submit Application</button>
    <a href="{% url 'loan_calculator:home' %}">
        <button type="button">Go to Home</button></a>

<a href="{% url 'loan_calculator:calculate_loan' %}">
    <button type="button">Loan Calculator</button>
    
</a>
</form>

</body>
</html>
